html, body, header,
.view.jarallax {
  height: 100%;
  min-height: 100%;
}

.navbar {    
  background-color: black;
}

.about {
  font-size:24px;
  font-weight:bold;
}

p {
    font-weight:bold;
}

.logo {
  max-height: 300px;
  text-align: center;
  margin: 0 auto;
} 

