body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.carousel {
  height: 500px;
}

.card-image.img
{
height:150px !important;
}

#caroInfo, .cardText {
  color:black;
}
.material-icons.md1::before{
content:"search"; 
}

.material-icons.md1:hover::before{
content:"navigate_next"; 
}
#navEmail {
  font-size: 18px;
}
#navName {
  font-size: 22px;
  padding-bottom: 10px;
}
#navMusic, #navVideo, #navGame, #navInfo {
  padding-left: 32px;
}
#navInfo {
  color: grey;
  line-height: normal;
}
#navPic {
  height: 100px;
  width: 100px;
}
.kappa {
height:200px;
width: 50%;
background-color:black !important;
}

.side-nav{
  top: 65px;
  width: 250px;
}

p, h4, .title {
color:white;
}

.collection-item {
background-color: rgba(0,0,0,0.5) !important;
padding:2% !important;
}

.title, .link, .url, .rating {
  padding-left: 75px;
}

.collection-header {
background-color: rgba(0,0,0,0.5) !important;
}
.card {
  bottom: 60px
}

.carousel .carousel-item {
width:300px !important;
height:300px !important;
}

.star {
text-align:center;
}

body {
  background: url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

main {
  flex: 1 0 auto;
  padding-bottom:10px;
}

.trans {
  background-color: rgba(0,0,0,0.5) !important;
}

.title, .bio, .link, .tagline, .year, .rating, .trailer, .overview, .platform, .summary {
  color:white;
  padding-bottom: 6px;
}

.card-title, .title {
  text-emphasis: bold;
  padding-bottom: 8px;
  font-style: italic;
  color: #ed1c24;
}

.expand p {
  padding-bottom: 8px;
}

#artist1, #artist2, #artist3, #artist4,#artist5 {
  color: white;
}
  /* .card-title {
    font-family: Georgia, Times, 'Times New Roman', serif !important;
  font-weight: bolder !important;
  font-style: italic !important;
} */

nav {
  background-color: rgba(0,0,0,0.5) !important;
  color:white;
}

footer, .page-footer {
    background-color:#282828;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
/* For mobile: */
.col-6, .container {
  width: 100% !important;
}
iframe {
  height: 250px;
}

}