body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
    color:white;
}

input, input:focus { 
  color: white;
}

.logo {
width:200px;
height:200px;
}

.carousel .carousel-item {
  width:200px !important;
  height:200px !important;
  }

  .logo2 {
    width:600px;
    height:600px;
    padding-bottom:250px;
    }

  
.card-content {
  text-align:center;
}

.card-image.img
{
  height:150px !important;
}

.material-icons.md1::before{
  content:"search"; 
}

.material-icons.md1:hover::before{
  content:"navigate_next"; 
}
  
.input-field input[type=text]:focus + label {
color: #000;
}

.btn-floating {
  margin-right:55px !important;
}

  .blue {
    color:#2196f3 !important;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  }

  .select-dropdown{
  color: white;
  }

  label {
    color:white;
  }


main {
  flex: 1 0 auto;
  padding-bottom:10px;
}

.invis {
  display:none;
}

.avatar {
  max-width:50px;
  max-height:50px;
}

nav {
  background-color: rgba(0,0,0,0.5) !important;
  color:white;
}

footer, .page-footer {
  margin-top:50px;
  background-color:#282828;
}

body {
  background: url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}